@charset "UTF-8";

:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray: hsl(0, 0%, 42%);
    --darkgray: hsl(0, 0%, 7%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Figtree;
    background-color: var(--yellow); 
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card {
    background-color: var(--white);
    padding: 16px;
    border-radius: 20px;
    border: 1px solid var(--darkgray);
    max-width: 320px; 
    width: 100%;
    box-shadow: 8px 8px 0px 0px var(--darkgray)
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 25px;
}
.avatar {
    display: flex;
    justify-content:left;
    align-items: center;
    gap: 10px;      
}

.avatar > p {
    color: var(--darkgray);
    font-weight: 800;
}

.avatar > img {
    width: 10%;
}

span {
    background-color: var(--yellow);
    color: var(--darkgray);
    border-radius: 4px;
    font-weight: 800;
    padding: 8px;
    display: inline-block;
}

.time > p {
    color: var(--darkgray);
    font-size: 15px;
    font-weight: 500;

}

h1 {
    font-size: 22px;
    font-weight: 800;
    color: var(--yellow);
    
}

p {
    color: var(--gray);
    font-size: 15px;
    font-weight: 500;
    margin: 20px 0px 20px 0px;
}

footer {
    
}





