@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --body: hsl(0, 0%, 8%);           
    --card: hsl(0, 0%, 12%);           
    --botões: hsl(0, 0%, 20%);          
    --nome: hsl(0, 0%, 100%);          
    --cidade: hsl(75, 94%, 57%);          
    --descrição: hsl(0, 0%, 100%);        
    --hover-botões: hsl(75, 94%, 57%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .card {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .avatar {
    width: 100px;
 }

 

